<button class="btn btn-outline-success doNotPrint" (click)="print()">Печать</button>
<div class="smallBody" *ngIf="statement" id="toPrint">
    <p style="text-align: center; margin-bottom: 8px; margin-top: 10px"><strong>{{ companyFullName }}</strong></p>
    <p style="text-align: center; margin-bottom: 5px">Ведомость на подачу и уборку вагонов
        № {{ statement.statementId }}</p>
    <p style="text-align: center; margin-bottom: 0">
        Наименование грузополучателя (грузоотправителя) <strong>{{ statement.customer.customerFullName }}</strong></p>
    <!--  <div [class.page-breaker]="numberOfPage > 0 && false" *ngFor="let numberOfPage of pages">-->
    <!--    <i style="text-align: right;" class="align-content-end">{{ numberOfPage + 1 }} / {{ pages.length }}</i>-->
    <br>
    <table style="text-align: center" class="print-font-size" cellpadding="0" border="1" align="center">
        <thead class="tableHead" style="background-color: beige; font-weight: bold">
        <tr>
            <td style="width: 50px" rowspan="2">ПН</td>
            <td style="width: 100px">Номер вагона</td>
            <td style="width: 200px">Принадлежность</td>
            <td style="width: 200px">Наименование груза</td>
            <td style="width: 200px">Грузовая операция</td>
            <td style="width: 100px">Масса груза (тонн)</td>
            <td style="width: 150px">Дата и время подачи</td>
            <td style="width: 150px">Дата и время уборки</td>
            <td style="width: 100px">Маневровые работы (час.)</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
        </tr>
        </thead>
        <tbody class="tableBody" *ngFor="let memo of statement.memoOfDispatchList; let i = index">
        <tr>
            <td colspan="9">
                <strong>Памятка уборки № {{ memo.memoOfDispatchId }}
                    Вагонов {{ memo.deliveryOfWagonList.length }}</strong>
            </td>
        </tr>
        <tr *ngFor="let delivery of memo.deliveryOfWagonList; let idx = index">
            <td style="width: 50px">{{ idx + 1}}</td>
            <td style="width: 100px">{{ delivery.wagon }}</td>
            <td style="width: 200px">{{ delivery.owner }}</td>
            <td style="width: 200px">{{ delivery.cargoType }}</td>
            <td style="width: 200px">{{ delivery.cargoOperation }}</td>
            <td style="width: 100px">{{ delivery.cargoWeight | number:'0.2-2'}}</td>
            <td style="width: 150px">{{ delivery.startDate | date : 'dd.MM.yyyy HH:mm' }}</td>
            <td style="width: 150px">{{ delivery.endDate | date : 'dd.MM.yyyy HH:mm' }}</td>
            <td style="width: 100px">{{ delivery.shuntingWorks }}</td>
        </tr>
        </tbody>
        <tfoot style="font-weight: bold">
        <td colspan="3">
            Итого по ведомости:
        </td>
        <td>
            Вагонов: {{ deliveryList.length }}
        </td>
        <td colspan="2">
            Масса груза: {{ sumWeight | number:'0.2-2'}} т.
        </td>
        <td colspan="3">
            Маневровая работа: {{ sumShuntingWork }} ч.
        </td>
        </tfoot>
    </table>
</div>
<br>
<div style="page-break-inside: avoid" *ngIf="statement">
    <p style="text-align: center;">Вагоны сдал представитель {{ companyFullName }}
        ________________/ {{ authService.getUserInitials() }}</p>
    <p style="text-align: center; margin-bottom: 0">Вагоны принял представитель {{ statement.customer.customerFullName }}
        ________________/ {{ statement.signer }}</p>
</div>
<!--</div>-->


