<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div *ngIf="!router.isActive('/admin/user/create', true)">
          <button
            (click)="update()"
            class="btn btn-outline-primary btn-sm mr-2"
          >Сохранить
          </button>
        </div>
        <div *ngIf="router.isActive('/admin/user/create', true)">
          <a
            (click)="create()"
            class="btn btn-outline-primary btn-sm mr-2"
          >Создать
          </a>
        </div>
      </li>
      <li>
        <a
          class="btn btn-outline-info btn-sm"
          [routerLink]="['/admin', 'user']"
        >Закрыть
        </a>
      </li>
    </ul>
  </div>
</nav>


<div *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="update()">

    <div *ngIf="form.get('userId');" class="form-row">
      <div class="form-group row col-md-6">
        <label for="userId" class="col-sm-2 col-form-label">Номер</label>
        <div class="col-sm-4">
          <input type="email" class="form-control-plaintext" id="userId" formControlName="userId" readonly>
        </div>
      </div>
      <div class="form-group row col-md-6">
        <label for="created" class="col-sm-3 col-form-label">Дата создания</label>
        <div class="col-sm-4">
          <span class="form-control-plaintext" id="created">{{ form.value.created | date: 'dd.MM.yyy'}}</span>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4"
           [ngClass]="{invalid: form.get('username').touched && form.get('username').invalid}"
      >


        <label for="username">Имя пользователя</label>
        <input type="text" class="form-control" id="username" formControlName="username">

        <div
          *ngIf="form.get('username').touched && form.get('username').invalid"
          class="validation"
        >
          <small *ngIf="form.get('username').errors.required">
            Введите имя пользователя
          </small>
        </div>


      </div>

      <div class="form-group col-md-4"
           [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
      >
        <label for="password">Пароль</label>
        <input type="password" class="form-control" id="password" formControlName="password">

        <div
          *ngIf="form.get('password').touched && form.get('password').invalid"
          class="validation"
        >
          <small *ngIf="form.get('password').errors.required">
            Введите пароль
          </small>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="email">Почта</label>
        <input type="email" class="form-control" id="email" formControlName="email">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="lastName">Фамилия</label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName">
      </div>
      <div class="form-group col-md-4">
        <label for="firstName">Имя</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName">
      </div>
      <div class="form-group col-md-4">
        <label for="middleName">Отчество</label>
        <input type="text" class="form-control" id="middleName" formControlName="middleName">
      </div>
    </div>
    <div class="custom-control custom-switch form-group md-12">
      <input type="checkbox" class="custom-control-input" id="enabled" formControlName="enabled">
      <label class="custom-control-label" for="enabled">Активен</label>
    </div>
  </form>
</div>

<ng-template #loading>
  <p class="text-center">Идёт загрузка...</p>
</ng-template>
