<nav class="navbar navbar-expand navbar-light bg-light row">
  <ul class="navbar-nav mr-auto">
    <li>
      <button class="fas fa-plus btn btn-sm btn-outline-info mr-3" title="Добавить"
              [routerLink]="['/memo/delivery', 'create']"></button>
    </li>
    <li class="nav-item active mr-1 py-0 my-0">
      <input type="datetime-local" [ngModel]="afterDate | date: 'yyyy-MM-ddTHH:mm'"
             (ngModelChange)="afterDate = $event" class="form-control form-control-sm">
    </li>
    <li>
      <i class="fas fa-arrows-alt-h btn btn-outline-info mr-1" (click)="loadMemos()"></i>
    </li>
    <li>
      <input type="datetime-local" [ngModel]="beforeDate | date: 'yyyy-MM-ddTHH:mm'"
             (ngModelChange)="beforeDate = $event" class="form-control form-control-sm">
    </li>
    <li>
      <i class="form-control form-control-sm form-control-plaintext ml-3">В отборе:&nbsp;
        {{ (memos | filterMemoOfDelivery:searchStr:cargoOperationFilter:customerFilter).length }}</i>
    </li>
    <li>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm ml-3" placeholder="Найти по номеру"
               [(ngModel)]="searchStr" autocomplete="off">
        <div class="input-group-append">
          <button class="fas fa-times btn btn-outline-secondary btn-sm" title="Очистить" (click)="searchStr = ''"
                  style="color: grey"></button>
        </div>
      </div>
    </li>
  </ul>
</nav>

<table class="table table-sm table-bordered border-0" style="text-align: center">
  <thead class="thead-light">
  <tr class="row">
    <th [width]="120" #tableColumn2 type="button" (click)="sortListById()">
      Н
      <i *ngIf="sortById === true" class="fas fa-sort-up btn pr-0 mr-0"></i>
      <i *ngIf="sortById === false" class="fas fa-sort-down btn pr-0 mr-0"></i>
    </th>
    <th [width]="190" #tableColumn3 type="button" (click)="sortListByDate()">
      Начало
      <i *ngIf="sortByDate === true" class="fas fa-sort-up btn pr-0 mr-0"></i>
      <i *ngIf="sortByDate === false" class="fas fa-sort-down btn pr-0 mr-0"></i>
    </th>
    <th class="col" #tableColumn4>
      <select class="custom-select custom-select-sm" [(ngModel)]="customerFilter">
        <option value="">Все контрагенты</option>
        <option *ngFor="let customer of customers | async"
                value="{{ customer.customerName }}">{{ customer.customerName }}</option>
      </select>
    </th>
    <th [width]="200" #tableColumn5>
      <select class="custom-select custom-select-sm" [(ngModel)]="cargoOperationFilter">
        <option value="">Все операции</option>
        <option *ngFor="let operation of cargoOperations | async"
                value="{{ operation.operationName }}">{{ operation.operationName }}</option>
      </select>
    </th>
    <th [width]="80" #tableColumn6 type="button" (click)="sortListByWagonQuantity()">Ваг.
      <i *ngIf="sortByWagonQuantity === true" class="fas fa-sort-up btn pr-0 mr-0"></i>
      <i *ngIf="sortByWagonQuantity === false" class="fas fa-sort-down btn pr-0 mr-0"></i></th>
    <th [width]="18"></th>
  </tr>
  </thead>
  <tbody *ngIf="memos.length; else loading">
  <cdk-virtual-scroll-viewport itemSize="37" class="main-viewport row">
    <tr *cdkVirtualFor="let memo of memos|
        filterMemoOfDelivery:searchStr:cargoOperationFilter:customerFilter">
      <td [width]="tableColumn2.offsetWidth">
        <a [routerLink]="['/memo', 'delivery', 'edit', memo.memoOfDeliveryId]" title="Открыть памятку">
          {{ memo.memoOfDeliveryId }}
        </a>
      </td>
      <td [width]="tableColumn3.offsetWidth">{{ memo.startDate | date : 'dd.MM.yyyy HH:mm' }}</td>
      <td [width]="tableColumn4.offsetWidth">{{ memo.customer.customerName }}</td>
      <td [width]="tableColumn5.offsetWidth">{{ memo.cargoOperation }}</td>
      <td [width]="tableColumn6.offsetWidth">{{ memo.deliveryOfWagonList.length }}</td>
    </tr>
  </cdk-virtual-scroll-viewport>
  </tbody>
</table>

<!--Template loading-->
<ng-template #loading>
  <p class="text-center">Загрузка...</p>
</ng-template>
