<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="" [routerLink]="['/']">RCS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" [routerLink]="['/delivery']"
           [class.font-weight-bold]="router.isActive('/delivery', false)">Общая подача<span
          class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" [routerLink]="['/memo', 'delivery']"
           [class.font-weight-bold]="router.isActive('/memo/delivery', false)">Памятки подачи<span
          class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" [routerLink]="['/memo', 'dispatch']"
           [class.font-weight-bold]="router.isActive('/memo/dispatch', false)">Памятки уборки<span
          class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" [routerLink]="['/controller-statement']"
           [class.font-weight-bold]="router.isActive('/controller-statement', false)">
          Ведомость <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false"
           [class.font-weight-bold]="router.isActive('/reference/customer', false) ||
                        router.isActive('/reference/cargo-type', false)">
          Справочники
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" [routerLink]="['/reference', 'customer']"
             [class.font-weight-bold]="router.isActive('/reference/customer', false)">
            Контрагенты
          </a>
          <a class="dropdown-item" href="#" [routerLink]="['/reference', 'cargo-type']"
             [class.font-weight-bold]="router.isActive('/reference/cargo-type', false)">
            Вид груза
          </a>
<!--          <a class="dropdown-item" href="#">Another action</a>-->
          <div class="dropdown-divider"></div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" id="configDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false"
           [class.font-weight-bold]="router.isActive(
           '/reference/config', false) || router.isActive('/admin/user', false)">
          Конфигурация
        </a>
        <div class="dropdown-menu" aria-labelledby="configDropdown">
          <a class="dropdown-item" href="#" [routerLink]="['/reference', 'config', 'wagon-type']"
             [class.font-weight-bold]="router.isActive('/reference/config/wagon-type', false)">
            Тип вагона
          </a>
          <a class="dropdown-item" href="#" [routerLink]="['/reference', 'config', 'wagon-group']"
             [class.font-weight-bold]="router.isActive('/reference/config/wagon-group', false)">
            Группа вагона
          </a>
          <a class="dropdown-item" href="#" [routerLink]="['/reference', 'config', 'base-rate']"
             [class.font-weight-bold]="router.isActive('/reference/config/base-rate', false)">
            Базовая ставка
          </a>
          <a class="dropdown-item" href="#" [routerLink]="['/reference', 'config', 'index-to-base-rate']"
             [class.font-weight-bold]="router.isActive('/reference/config/index-to-base-rate', false)">
            Индекс к базовой ставке
          </a>
          <a class="dropdown-item" href="#" [routerLink]="['/reference', 'config', 'cargo-operation']"
             [class.font-weight-bold]="router.isActive('/reference/config/cargo-operation', false)">
            Грузовая операция
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" [routerLink]="['/admin', 'user']"
             [class.font-weight-bold]="router.isActive('/admin/user', false)">Пользователи
          </a>
        </div>
      </li>
    </ul>
    <!--    <form class="form-inline my-2 my-lg-0">-->
    <!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
    <!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    <!--    </form>-->
    <a href="logout" (click)="logout($event)" class="btn btn-outline-success btn-sm my-2 my-sm-0">Выйти</a>
  </div>
</nav>

<app-alert></app-alert>

<div class="container mt-2">
  <router-outlet></router-outlet>
</div>
