<nav class="navbar navbar-expand-md navbar-light bg-light row">
    <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li>
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-primary btn-sm" type="button" (click)="addDeliveryById()"
                                [disabled]="!deliveryIdToAdd || !enableForm">Добавить по номеру
                        </button>
                    </div>
                    <input type="number" list=deliveryList class="input-text text" [(ngModel)]="deliveryIdToAdd"
                           style="width: 100px" (keydown.escape)="deliveryIdToAdd = null"
                           (keydown.enter)="addDeliveryById()" class="form-control" [appMyAutofocus]>
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary btn-sm mr-2" title="Очистить"
                                type="button" (click)="deliveryIdToAdd = null">&times;
                        </button>
                    </div>
                    <datalist id=deliveryList *ngIf="suitableDeliveries">
                        <option *ngFor="let delivery of suitableDeliveries" value="{{delivery.deliveryId}}"
                                label="{{delivery.wagon}}"></option>
                    </datalist>
                </div>
                <!--                <div class="invalid-feedback">-->
                <!--                    Example invalid input group feedback-->
                <!--                </div>-->
            </li>
            <li>
                <input type="button" value="Добавить все подходящие" class="btn btn-outline-primary btn-sm mr-2"
                       (click)="addAllSuitableDeliveries()" [disabled]="!enableForm">
            </li>
            <li>
                <input type="button" value="Убрать все вагоны" class="btn btn-outline-primary btn-sm mr-2"
                       data-toggle="modal" data-target="#removeAllDeliveriesModal" [disabled]="!enableForm">
            </li>
            <li>
                <div class="input-group input-group-sm">
                    <input type="number" step="0.5" min="0" max="999" title="Распределить на все вагоны"
                           class="form-control form-control-sm"[(ngModel)]="shuntingForAll"
                           placeholder="м.р. всего" style="width: 100px" (keydown.enter)="distributeShuntingToAllDeliveries()"
                           autocomplete="off" [disabled]="!enableForm">
                </div>
            </li>
            <li>
                <div class="input-group input-group-sm ml-2">
                    <input type="number" step="any" min="0" max="999" title="Применить веc ко всем вагонам"
                           class="form-control form-control-sm ms-no_arrows"[(ngModel)]="weightForAll"
                           placeholder="Вес каждому" style="width: 100px" (keydown.enter)="applyWeightForAllDeliveries()"
                           autocomplete="off" [disabled]="!enableForm">
                </div>
            </li>
        </ul>
    </div>
</nav>

<table class="table table-sm table-bordered border-0" style="text-align: center">
    <thead class="thead-light">
    <tr class="row">
        <th width="50">#</th>
        <th width="100">№ вагона</th>
        <th width="150">Тип вагона</th>
        <th width="150">Вид груза</th>
        <th width="150">Собственник</th>
        <th width="60">М.р.</th>
        <th width="60">Вес</th>
        <th width="40" *ngIf="memoOfDispatch && memoOfDispatch.cargoOperation==='ВЫГРУЗКА'">ПРР</th>
        <th width="150">Дата начала</th>
        <th class="col-md col-sm col fas fa-cog" style="padding-top: 10px; padding-bottom: 0px"></th>
    </tr>
    </thead>
    <tbody
        *ngIf="memoOfDispatch && memoOfDispatch.deliveryOfWagonList && memoOfDispatch.deliveryOfWagonList.length; else loading"
        (keydown.escape)="cancel()" (keydown.enter)="saveDelivery()">
    <tr class="row my-0 p-0" *ngFor="let delivery of memoOfDispatch.deliveryOfWagonList; let idx = index">
        <ng-template [ngTemplateOutlet]="loadTemplate(delivery)"
                     [ngTemplateOutletContext]="{ $implicit: delivery, idx: idx}">
        </ng-template>
    </tr>
    </tbody>
</table>

<!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-delivery let-idx="idx">
    <td width="50">{{ idx + 1 }}</td>
    <td width="100"><a [routerLink]="['/delivery', 'edit', delivery.deliveryId]"
                       title="Открыть общую подачу">{{ delivery.wagon }}</a></td>
    <td width="150">{{ delivery.wagonType }}</td>
    <td width="150">{{ delivery.cargoType }}</td>
    <td width="150">{{ delivery.owner }}</td>
    <td width="60" type="button" (click)="enableForm ? editDelivery(delivery) : null">
        {{ delivery.shuntingWorks | number:'0.2-2' }}
    </td>
    <td width="60" type="button" (click)="enableForm ? editDelivery(delivery,'weight') : null">
        {{ delivery.cargoWeight | number:'0.2-2' }}
    </td>
    <td width="40" *ngIf="memoOfDispatch && memoOfDispatch.cargoOperation==='ВЫГРУЗКА'">
        <i class="fas fa-check" [hidden]="!delivery.loadUnloadWork"></i>
    </td>
    <td width="150">
        <a *ngIf="delivery.memoOfDelivery; else justDate" title="Открыть памятку подачи"
           [routerLink]="['/memo', 'delivery', 'edit', delivery.memoOfDelivery]">
            {{ delivery["startDate"] | date : 'dd.MM.yyyy HH:mm' }}
        </a>
        <ng-template #justDate>
            {{ delivery["startDate"] | date : 'dd.MM.yyyy HH:mm' }}
        </ng-template>
    </td>
    <td class="col-md col-sm col">
        <button type="button" class="far fa-edit btn btn-outline-primary btn-sm mr-1 mt-1"
                [disabled]="!enableForm" title="Редактировать" (click)="editDelivery(delivery)"></button>
<!--        <button type="button" class="fas fa-unlink btn btn-outline-warning btn-sm mr-1 mt-1" title="Открепить"-->
<!--                [disabled]="!enableForm" (click)="removeDeliveryFromMemo(delivery.deliveryId)"></button>-->
        <button type="button" class="fas fa-unlink btn btn-outline-warning btn-sm mr-1 mt-1" data-toggle="modal"
                data-target="#removeModal" title="Открепить"
                [disabled]="!enableForm" (click)="setRemove(delivery.deliveryId)"></button>
    </td>
</ng-template>

<!--шаблон для редактирования-->
<ng-template #editTemplate let-delivery let-idx="idx">
    <td width="50">{{ idx + 1 }}</td>
    <td width="100"><a [routerLink]="['/delivery', 'edit', delivery.deliveryId]"
                       title="Открыть общую подачу">{{ delivery.wagon }}</a></td>
    <td width="150">{{ delivery.wagonType }}</td>
    <td width="150">{{ delivery.cargoType }}</td>
    <td width="150">{{ delivery.owner }}</td>
    <td width="60">
        <input type="number" step="any" max="1" min="0" [(ngModel)]="editedDelivery.shuntingWorks"
               class="form-control form-control-sm"
               #shuntingWorks="ngModel" [appMyAutofocus] (keydown.+)="saveDelivery('shunting')">
    </td>
    <td width="60">
        <input type="number" step="any" [(ngModel)]="editedDelivery.cargoWeight" class="form-control form-control-sm"
               #cargoWeight="ngModel" (keyup)="checkWeight()" (keydown.+)="saveDelivery('weight')"
               [appMyAutofocus]="weightFocus">
    </td>
    <td width="40" style="padding-left: 8px; padding-top: 8px; padding-bottom: 0px"
        *ngIf="memoOfDispatch && memoOfDispatch.cargoOperation==='ВЫГРУЗКА'">
        <input type="checkbox" [(ngModel)]="editedDelivery.loadUnloadWork" #loadUnloadWork="ngModel">
    </td>
    <td width="150">
        <a *ngIf="delivery.memoOfDelivery; else justDate" title="Открыть памятку подачи"
           [routerLink]="['/memo', 'delivery', 'edit', delivery.memoOfDelivery]">
            {{ delivery["startDate"] | date : 'dd.MM.yyyy HH:mm' }}
        </a>
        <ng-template #justDate>
            {{ delivery["startDate"] | date : 'dd.MM.yyyy HH:mm' }}
        </ng-template>
    </td>
    <td class="col-md col-sm col">
        <button (click)="saveDelivery()" class="fas fa-check btn btn-outline-success btn-sm mr-1 mt-1"
                title="Сохранить"></button>
        <button value="Отмена" (click)="cancel()"
                class="fas fa-undo-alt btn btn-outline-warning btn-sm mt-1" title="Отменить"></button>
    </td>
</ng-template>


<!--Template loading-->
<ng-template #loading>
    <p class="text-center">Загрузка...</p>
</ng-template>


<!-- Remove Modal -->
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeModalLabel">Открепление</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Открепить общую подачу номер {{ deliveryIdToRemove }} ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="unsetRemove()">Отменить
                </button>
                <button type="button" class="btn btn-primary btn-ok" data-dismiss="modal" (click)="removeDeliveryFromMemo(deliveryIdToRemove)">Да
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal remove all deliveries -->
<div class="modal fade" id="removeAllDeliveriesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeAllDeliveriesModalLabel">Отсоединение</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Убрать все вагоны из памятки?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                <button type="button" class="btn btn-primary btn-ok" data-dismiss="modal"
                        (click)="removeAllDeliveryOfWagonFromMemo()">Убрать
                </button>
            </div>
        </div>
    </div>
</div>
