<nav class="navbar navbar-expand-md navbar-light bg-light row">
  <div class="navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--      <li>-->
      <!--        <input type="button" value="Создать" class="btn btn-outline-info btn-sm mr-2" (click)="addDelivery()"/>-->
      <!--      </li>-->
      <li>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <button class="btn btn-outline-info btn-sm" type="button" (click)="addDeliveryById()"
                    [disabled]="!deliveryIdToAdd || !enableForm">Добавить по номеру
            </button>
          </div>
          <input type="number" list=deliveryList class="input-text text" [(ngModel)]="deliveryIdToAdd"
                 style="width: 100px">
          <div class="input-group-append">
            <button class="btn btn-outline-info btn-sm mr-2" title="Очистить"
                    type="button" (click)="clearDeliveryIdToAdd()">&times;
            </button>
          </div>
          <datalist id=deliveryList *ngIf="suitableDeliveries">
            <option *ngFor="let delivery of suitableDeliveries" value="{{delivery.deliveryId}}"
                    label="{{delivery.wagon}}"></option>
          </datalist>
        </div>
        <div class="invalid-feedback">
          Example invalid input group feedback
        </div>
      </li>
      <li>
        <input type="button" value="Добавить все подходящие" class="btn btn-outline-info btn-sm mr-2"
               (click)="addAllSuitableDeliveries()" [disabled]="!enableForm">
      </li>
      <li>
        <input type="button" value="Убрать все вагоны" class="btn btn-outline-info btn-sm mr-2"
               data-toggle="modal" data-target="#removeAllDeliveriesModal" [disabled]="!enableForm">
      </li>
    </ul>
  </div>
</nav>

<table class="table table-sm table-bordered border-0" style="text-align: center">
  <thead class="thead-light">
  <tr class="row">
    <th width="50">#</th>
    <!--      <th width="100">И</th>-->
    <th width="120">№ вагона</th>
    <th width="170">Тип вагона</th>
    <th width="170">Собственник</th>
    <th width="80">Вес</th>
    <th width="50" *ngIf="memoOfDispatch && memoOfDispatch.cargoOperation==='ВЫГРУЗКА'">ПРР</th>
    <th width="150">Дата начала</th>
    <th class="col-md col-sm col">Действия</th>
  </tr>
  </thead>
  <tbody *ngIf="deliveryList.length; else loading">
  <tr class="row my-0 p-0" *ngFor="let delivery of deliveryList; let idx = index">
    <ng-template [ngTemplateOutlet]="loadTemplate(delivery)"
                 [ngTemplateOutletContext]="{ $implicit: delivery, idx: idx}">
    </ng-template>
  </tr>
  </tbody>
</table>

<!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-delivery let-idx="idx">
  <td width="50">{{ idx + 1 }}</td>
  <!--  <td width="100">-->
  <!--    <a [routerLink]="['/delivery', 'edit', delivery.deliveryId]">{{ delivery.deliveryId }}</a></td>-->
  <!--  <a [routerLink]="['/delivery', 'edit', delivery.deliveryId]">-->
  <td width="120"><a [routerLink]="['/delivery', 'edit', delivery.deliveryId]"
                     title="Открыть общую подачу">{{ delivery.wagon }}</a></td>
  <td width="170">{{ delivery.wagon }}</td>
  <td width="170">{{ delivery.owner }}</td>
  <td width="80">{{ delivery.cargoWeight | number:'0.2-2' }}</td>
  <td width="50" *ngIf="memoOfDispatch && memoOfDispatch.cargoOperation==='ВЫГРУЗКА'">
    <i class="fas fa-check" [hidden]="!delivery.loadUnloadWork" style="color: grey"></i>
  </td>
  <!--  <td width="50" style="padding-left: 18px; padding-top: 12px; padding-bottom: 0px"-->
<!--      *ngIf="memoOfDispatch && memoOfDispatch.cargoOperation==='ВЫГРУЗКА'">-->
<!--    <input class="form-check" disabled type="checkbox" [checked]="delivery.loadUnloadWork">-->
<!--  </td>-->
  <td width="150">
    <a *ngIf="delivery.memoOfDelivery; else justDate" title="Открыть памятку подачи"
       [routerLink]="['/memo', 'delivery', 'edit', delivery.memoOfDelivery]">
      {{ delivery["startDate"] | date : 'dd.MM.yyyy HH:mm' }}
    </a>
    <ng-template #justDate>
      {{ delivery["startDate"] | date : 'dd.MM.yyyy HH:mm' }}
    </ng-template>
  </td>
  <td class="col-md col-sm col">
    <button type="button" class="far fa-edit btn btn-outline-info btn-sm mr-1 mt-1"
            [disabled]="!enableForm" title="Редактировать" (click)="editDelivery(delivery)"></button>
    <button type="button" class="fas fa-unlink btn btn-outline-warning btn-sm mr-1 mt-1" title="Открепить"
            [disabled]="!enableForm" (click)="removeDeliveryFromMemo(delivery.deliveryId)"></button>
    <!-- Button trigger modal -->
    <button type="button" class="far fa-trash-alt btn btn-outline-danger btn-sm mt-1" data-toggle="modal"
            data-target="#deleteModal" title="Удалить"
            [disabled]="!enableForm" (click)="setDelete(delivery.deliveryId)"></button>
  </td>
</ng-template>

<!--шаблон для редактирования-->
<ng-template #editTemplate let-delivery let-idx="idx">
  <td width="50">{{ idx + 1 }}</td>
  <!--  <td width="100">{{ delivery.deliveryId }}</td>-->
  <td width="120"><a [routerLink]="['/delivery', 'edit', delivery.deliveryId]"
                     title="Открыть общую подачу">{{ delivery.wagon }}</a></td>
  <!--  <td width="120">-->
  <!--    <input type="text" [(ngModel)]="editedDelivery.wagon.wagonNumber" class="form-control"-->
  <!--           #wagonNumber="ngModel" required [ngClass]="{'is-invalid': wagonNumber.touched && wagonNumber.invalid,-->
  <!--                                                    'is-valid': wagonNumber.touched && wagonNumber.valid}">-->
  <!--    <div class="invalid-feedback">-->
  <!--      Введите номер вагона-->
  <!--    </div>-->
  <!--  </td>-->
  <td width="170">
    <select class="custom-select-sm form-control ms-valid_input" [(ngModel)]="editedDelivery.wagonType"
            #wagonType="ngModel" required>
      <option *ngFor="let wagonType of wagonTypeList" value="{{ wagonType.typeName }}">{{ wagonType.typeName }}</option>
    </select>
  </td>
  <td width="170">
    <select class="custom-select-sm form-control ms-valid_input" [(ngModel)]="editedDelivery.owner"
            #owner="ngModel" required>
      <option value="{{owner.ownerName}}" *ngFor="let owner of ownersList">{{ owner.ownerName }}</option>
    </select>
  </td>
  <td width="80">
    <input type="number" step="any" [(ngModel)]="editedDelivery.cargoWeight" class="form-control form-control-sm"
           #cargoWeight="ngModel"
           [ngClass]="{'is-invalid': cargoWeight.touched && cargoWeight.invalid}"
           (keyup)="checkWeight()">
  </td>
  <td width="50" style="padding-left: 8px; padding-top: 8px; padding-bottom: 0px"
      *ngIf="memoOfDispatch && memoOfDispatch.cargoOperation==='ВЫГРУЗКА'">
    <input type="checkbox" [(ngModel)]="editedDelivery.loadUnloadWork" #loadUnloadWork="ngModel">
  </td>
  <td width="150">
    <a *ngIf="delivery.memoOfDelivery.memoOfDeliveryId; else justDate" title="Открыть памятку подачи"
       [routerLink]="['/memo', 'delivery', 'edit', delivery.memoOfDelivery.memoOfDeliveryId]">
      {{ delivery["startDate"] | date : 'dd.MM.yyyy HH:mm' }}
    </a>
    <ng-template #justDate>
      {{ delivery["startDate"] | date : 'dd.MM.yyyy HH:mm' }}
    </ng-template>
  </td>
  <!--  <td width="150">{{ delivery["startDate"] | date : 'dd.MM.yyyy HH:mm' }}</td>-->

  <!--  <td width="230">-->
  <!--    <input type="datetime-local" [ngModel]="editedDelivery.startDate | date: 'yyyy-MM-ddTHH:mm'"-->
  <!--           (ngModelChange)="editedDelivery.startDate = $event" class="form-control"-->
  <!--           #startDate="ngModel" required [ngClass]="{'is-invalid': startDate.touched && startDate.invalid,-->
  <!--                                                    'is-valid': startDate.touched && startDate.valid}">-->
  <!--    <div class="invalid-feedback">-->
  <!--      Введите правильную дату-->
  <!--    </div>-->
  <!--  </td>-->
  <td class="col-md col-sm col">
    <button (click)="saveDelivery()" class="fas fa-check btn btn-outline-success btn-sm mr-1 mt-1" title="Сохранить"
            [disabled]="wagonType.invalid || owner.invalid"></button>
    <button value="Отмена" (click)="cancel()"
            class="fas fa-undo-alt btn btn-outline-warning btn-sm mt-1" title="Отменить"></button>
  </td>
</ng-template>


<!--Template loading-->
<ng-template #loading>
  <p class="text-center">Загрузка...</p>
</ng-template>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Удаление</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Удалить общую подачу номер {{ deliveryIdToDelete }} ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="unsetDelete()">Отменить</button>
        <button type="button" class="btn btn-primary btn-ok" data-dismiss="modal" (click)="delete()">Удалить</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal remove all deliveries -->
<div class="modal fade" id="removeAllDeliveriesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeAllDeliveriesModalLabel">Отсоединение</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Убрать все вагоны из памятки?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
        <button type="button" class="btn btn-primary btn-ok" data-dismiss="modal"
                (click)="removeAllDeliveryOfWagonFromMemo()">Убрать
        </button>
      </div>
    </div>
  </div>
</div>
