<nav class="navbar navbar-expand navbar-light bg-white row">
    <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" *ngIf="form && !form.pristine">
                <div *ngIf="statementId">
                    <button type="button" (click)="update()" title="Сохранить"
                            class="fas fa-check btn btn-outline-success mr-2"
                            [disabled]="listMemoInStatementComponent
                  && listMemoInStatementComponent.editedMemo">
                    </button>
                    <button type="button" (click)="loadForm()" title="Отменить"
                            class="fas fa-undo-alt btn btn-outline-warning mr-2"></button>
                </div>
                <div *ngIf="!statementId">
                    <button type="button" (click)="create()" title="Сохранить"
                            class="fas fa-check btn btn-outline-success mr-2"></button>
                </div>
            </li>
            <li>
                <a class="fas fa-align-justify btn btn-outline-info mr-2" title="В список"
                   [routerLink]="['/statement']"></a>
            </li>

            <li *ngIf="!enableComment && statementId">
                <button type="button" class="far fa-comment-alt btn btn-outline-info" title="Коментарий"
                        (click)="enableComment=true">
                </button>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li *ngIf="statementId">
                <a class="fas fa-print btn btn-outline-info mr-2" title="Ведомость приемосдатчика"
                   [routerLink]="['/statement', 'print-form', statementId]">
                </a>
            </li>
            <li *ngIf="statementId">
                <a class="fas fa-print btn btn-outline-info mr-2" title="Заказ-наряд"
                   [routerLink]="['/statement', 'print-form-work-order', statementId]"><i
                    class="ml-2 fas fa-snowplow"></i>
                </a>
            </li>
            <li *ngIf="statementId">
                <a class="fas fa-ruble-sign btn btn-outline-info mr-2" title="Расчетная ведомость"
                   [routerLink]="['/statement', 'print-form-payment-statement', statementId]">
                </a>
            </li>
            <li *ngIf="statementId">
                <a class="fas fa-ruble-sign btn btn-outline-info mr-2" title="Рачет заказ-наряда"
                   [routerLink]="['/statement', 'print-form-work-order-calculation', statementId]"><i
                    class="ml-2 fas fa-snowplow"></i>
                </a>
            </li>
        </ul>
        <strong *ngIf="statement && statement.statementId" class="ml-2">
        Ведомость {{ statement.statementId }}
            <span *ngIf="statement.author">Автор: {{ statement.author }}</span>
            <!--      от {{ form.value.created * 1000 | date: 'dd.MM.yyyy'}}-->
            <!-- Button trigger modal -->
              <button type="button" class="far fa-trash-alt btn btn-outline-danger btn-sm ml-2" data-toggle="modal"
                      data-target="#deleteModal"
                      (click)="setDelete(statement.statementId)">
              </button>
    </strong>
    </div>
</nav>

<div *ngIf="form; else loading">
    <form [formGroup]="form" (ngSubmit)="update()">
        <div class="row">
            <div class="form-group col-3 pl-0 mb-0">
                <label class="small" for="created">Дата</label>
                <input type="datetime-local" class="form-control form-control-sm" id="created" formControlName="created"
                       [required]="form.get('created').hasError('required')">
            </div>

            <div class="form-group col-3 mb-0">
                <label class="small" for="cargoOperation">Грузовая операция</label>
                <div class="input-group mb-3">
                    <select class="custom-select custom-select-sm" id="cargoOperation" formControlName="cargoOperation"
                            [required]="form.get('cargoOperation').hasError('required')">
                        <option *ngFor="let operation of cargoOperations | async"
                                value="{{ operation.operationName }}">{{ operation.operationName }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group col-3 mb-0">
                <label class="small" for="customer">Контрагент</label>
                <div class="input-group">
                    <select class="custom-select custom-select-sm" id="customer" formControlName="customer"
                            [required]="form.get('customer').hasError('required')">
                        <option *ngFor="let customer of customers | async"
                                value="{{ customer.customerName }}">{{ customer.customerName }}</option>
                    </select>
                </div>
            </div>

            <div *ngIf="statementId" class="form-group col-3 mb-0">
                <label class="small" for="signer">Подписант</label>
                <div class="input-group">
                    <select class="custom-select custom-select-sm" id="signer" formControlName="signer"
                            [required]="form.get('signer').hasError('required')">
                        <option value="">Не выбран</option>
                        <option *ngFor="let signer of statement.customer.signerList"
                                value="{{ signer.initials }}">{{ signer.initials }}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="statementRate">
            <div class="form-group col pl-0 mb-0">
                <label class="small" for="cargoOperation">Норма подачи уборки</label>
                <div class="input-group mb-3">
                    <!--          <input type="number" class="small form-control-plaintext" disabled id="deliveryDispatchTimeNorm" formControlName="deliveryDispatchTimeNorm">-->
                    <span>{{ statementRate.deliveryDispatchTimeNorm.norm }} ч.</span>
                </div>
            </div>

            <div class="form-group col mb-0">
                <label class="small" for="cargoOperation">Норма оборота</label>
                <div class="input-group mb-3">
                    <!--          <input type="number" class="small" id="turnoverTimeNorm" formControlName="turnoverTimeNorm">-->
                    <span>{{ statementRate.turnoverTimeNorm.norm }} ч.</span>
                </div>
            </div>

            <div class="form-group col mb-0">
                <label class="small" for="cargoOperation">Маневровый тариф</label>
                <div class="input-group mb-3">
                    <!--          <input type="number" class="small" id="shuntingTariff" formControlName="shuntingTariff">-->
                    <span>{{ statementRate.shuntingTariff.tariff | number:'0.2'}} р.</span>
                </div>
            </div>

            <div class="form-group col mb-0">
                <label class="small" for="cargoOperation">Тариф подачи уборки</label>
                <div class="input-group mb-3">
                    <!--          <input type="number" class="small" id="deliveryDispatchTariff" formControlName="deliveryDispatchTariff">-->
                    <span>{{ statementRate.deliveryDispatchTariff.tariff | number:'0.2'}} р.</span>
                </div>
            </div>

            <div class="form-group col mb-0 pr-0">
                <label class="small" for="cargoOperation">Индекс к ставке</label>
                <div class="input-group mb-3">
                    <!--          <input type="number" class="small" id="indexToBaseRate" formControlName="indexToBaseRate">-->
                    <span>{{ statementRate.indexToBaseRate.indexToRate }}</span>
                </div>
            </div>

        </div>

        <div *ngIf="enableComment || (statement && statement.comment)" class="row">
            <!--      <label for="comment" class="col-sm-3.5 col-form-label col-form-label-sm">Коментарий</label>-->
            <div class="input-group input-group-sm col pb-3 px-0 pt-0">
                <input id="comment" type="text" formControlName="comment" class="form-control form-control-sm">
                <div class="input-group-append">
                    <button class="fas fa-times btn btn-outline-secondary" type="button" title="Очистить"
                            (click)="clearComment()">
                    </button>
                </div>
            </div>
        </div>

    </form>
</div>

<app-memo-in-statement class="container p-0" *ngIf="statementId" [statement]="statement"
                       [enableForm]="form && form.pristine" [statementId]="statementId"
                       [memoList]="memoList" [statementRate]="statementRate">
</app-memo-in-statement>

<ng-template #loading>
    <p class="text-center">Идёт загрузка...</p>
</ng-template>

<!-- Modal -->
<div *ngIf="statement && statement.statementId" class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Удаление</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Удалить ведомость № {{ statementIdToDelete }}
                от {{ statement.created | date : 'dd.MM.yyyy HH:mm' }} ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="unsetDelete()">Отменить
                </button>
                <button type="button" class="btn btn-primary btn-ok" data-dismiss="modal" (click)="delete()">Удалить
                </button>
            </div>
        </div>
    </div>
</div>
