<button class="btn btn-outline-success doNotPrint" (click)="print()">Печать</button>
<div class="smallBody" *ngIf="statement" id="toPrint">
    <p style="text-align: center; margin-bottom: 8px; margin-top: 10px"><strong>{{ companyFullName }}</strong></p>
    <p style="text-align: center; margin-bottom: 5px">Заказ-наряд на переработку груза
        № {{ statement.statementId }}</p>
    <p style="text-align: center; margin-bottom: 0">
        Наименование грузополучателя (грузоотправителя) <strong>{{ statement.customer.customerFullName }}</strong></p>
    <!--  <div [class.page-breaker]="numberOfPage > 0 && false" *ngFor="let numberOfPage of pages">-->
    <!--    <i style="text-align: right;" class="align-content-end">{{ numberOfPage + 1 }} / {{ pages.length }}</i>-->
    <br>
    <table style="text-align: center" class="print-font-size" cellpadding="0" border="1" align="center">
        <thead class="tableHead" style="background-color: beige; font-weight: bold">
        <tr>
            <td style="width: 100px">ПН</td>
            <td style="width: 150px">Номер вагона</td>
            <td style="width: 200px">Тип вагона</td>
            <td style="width: 200px">Наименование груза</td>
            <td style="width: 150px">Масса груза (тонн)</td>
            <td style="width: 200px">Дата и время подачи</td>
        </tr>
        </thead>
        <tbody class="tableBody" *ngFor="let memo of statement.memoOfDispatchList; let i = index">
        <tr>
            <td></td>
            <td colspan="2">
                <strong>Памятка приёмосдатчика № {{ memo.memoOfDispatchId }}</strong>
            </td>
            <td></td>
            <td><strong>{{ calcMemoWeight(memo) | number:'0.2-2' }}</strong></td>
            <td><strong>Вагонов {{ memo.deliveryOfWagonList.length }}</strong></td>
        </tr>
        <tr *ngFor="let delivery of memo.deliveryOfWagonList; let idx = index">
            <td style="width: 100px">{{ idx + 1 }}</td>
            <td style="width: 150px">{{ delivery.wagon }}</td>
            <td style="width: 200px">{{ delivery.wagonType }}</td>
            <td style="width: 200px">{{ delivery.cargoType }}</td>
            <td style="width: 150px">{{ delivery.cargoWeight | number:'0.2-2' }}</td>
            <td style="width: 200px">{{ delivery.startDate | date : 'dd.MM.yyyy HH:mm' }}</td>
        </tr>
        </tbody>
        <tfoot style="font-weight: bold">
        <td colspan="2">
            Итого:
        </td>
        <td colspan="2">
            Вагонов: {{ deliveryList.length }}
        </td>
        <td colspan="2">
            Масса груза: {{ sumWeight | number:'0.2-2'}} т.
        </td>
        </tfoot>
    </table>
</div>
<br>
<div style="page-break-inside: avoid" *ngIf="statement">
    <p style="text-align: center;">Вагоны сдал представитель {{ companyFullName }}
        ________________/ {{ authService.getUserInitials() }}</p>
    <p style="text-align: center; margin-bottom: 0">Вагоны принял представитель {{ statement.customer.customerFullName }}
        ________________/ {{ statement.signer }}</p>
</div>
<!--</div>-->


