<nav class="navbar navbar-expand-md navbar-light bg-light row">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-memos-tab" data-toggle="tab" href="#nav-memos" role="tab"
       aria-controls="nav-home" aria-selected="true" (click)="addMemoBar = true">Памятки</a>
    <a class="nav-item nav-link mr-2" id="nav-wagons-tab" data-toggle="tab" href="#nav-wagons" role="tab"
       aria-controls="nav-profile" aria-selected="false" (click)="loadDeliveryList(); addMemoBar = false">Вагоны</a>
  </div>
  <div class="navbar-collapse" id="navbarSupportedContent" *ngIf="addMemoBar">
    <ul class="navbar-nav mr-auto">
      <li>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <button class="btn btn-outline-info btn-sm" type="button" (click)="addMemoById()"
                    [disabled]="!memoIdToAdd || !enableForm">Добавить памятку по номеру
            </button>
          </div>
          <input type="number" list=deliveryList class="input-text text" [(ngModel)]="memoIdToAdd"
                 style="width: 100px">
          <div class="input-group-append">
            <button class="fas fa-times btn btn-outline-info btn-sm mr-2"
                    type="button" (click)="clearMemoIdToAdd()"></button>
          </div>
          <datalist id=deliveryList *ngIf="suitableMemos">
            <option *ngFor="let memo of suitableMemos" value="{{memo.memoOfDispatchId}}"
                    label="{{memo.created | date : 'dd.MM.yyyy HH:mm' }}"></option>
          </datalist>
        </div>
      </li>
      <li>
        <input type="button" value="Добавить все подходящие" class="btn btn-outline-info btn-sm mr-2"
               [disabled]="!enableForm" (click)="addAllSuitableMemos()">
      </li>
      <li>
        <input type="button" value="Убрать все" class="btn btn-outline-info btn-sm mr-2"
               [disabled]="!enableForm" data-toggle="modal" data-target="#removeAllMemosModal">
      </li>
    </ul>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">

  <div class="tab-pane fade show active" id="nav-memos" role="tabpanel" aria-labelledby="nav-memos-tab">
    <!--  *ngIf="deliveries.length; else loading"-->
    <table class="table table-sm table-bordered border-0"  style="text-align: center">
      <thead class="thead-light">
      <tr class="row">
        <th width="70">П/Н</th>
        <th width="100">Номер</th>
        <th width="150">Дата окончания</th>
        <th width="100">Вагонов</th>
        <th width="250">Коментарий</th>
        <th class="col-md col-sm col">Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr class="row" *ngFor="let memo of memoList; let idx = index">
        <td width="70">{{ idx + 1 }}</td>
        <td width="100">
          <a [routerLink]="['/memo', 'dispatch', 'edit', memo.memoOfDispatchId]" title="Открыть памятку уборки">
            {{ memo.memoOfDispatchId }}
          </a>
        </td>
        <td width="150">
          {{ memo.endDate | date : 'dd.MM.yyyy HH:mm' }}
        </td>
        <td width="100">{{ memo.deliveryOfWagonList.length }}</td>
        <td width="250">{{ memo.comment }}</td>
        <td class="col-md col-sm col">
          <button type="button" class="fas fa-unlink btn btn-outline-warning btn-sm mr-1 mt-1" title="Открепить"
                  [disabled]="!enableForm" (click)="removeStatementFromMemo(memo.memoOfDispatchId)"></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="tab-pane fade row" id="nav-wagons" role="tabpanel" aria-labelledby="nav-wagons-tab">
    <table class="table table-sm table-bordered border-0"  style="text-align: center">
      <thead class="thead-light small font-weight-bold">
      <tr>
        <th width="30" rowspan="2" class="align-middle">ПН</th>
        <!--        <th width="100">И</th>-->
        <th width="120">№ вагона</th>
        <th width="150">Собственник</th>
        <th width="50">ПРР</th>
        <th width="120">Дата подачи</th>
        <th width="80">Общ. вр.</th>
        <th width="80">Вр. платы</th>
        <th width="80">Вр. штрафа</th>
        <th width="80">Вр. м.р.</th>
        <th width="80">Подач/Убор</th>
      </tr>
      <tr>
        <th width="120">Тип вагона</th>
        <th width="150">Вид груза</th>
        <th width="50">Вес</th>
        <th width="120">Дата уборки</th>
        <th width="80">Расч. вр.</th>
        <th width="80">Сумма пл.</th>
        <th width="80">Сумма шт.</th>
        <th width="80">Сумма м.р.</th>
        <th width="80">Всего</th>
      </tr>
      </thead>
      <tbody *ngFor="let delivery of deliveryList; let idx = index">
        <tr *ngIf="delivery.calculation; else loading">
          <td width="30" rowspan="2" class="align-middle small">{{ idx + 1 }}</td>
          <td width="120">
            <a [routerLink]="['/delivery', 'edit', delivery.deliveryId]" title="Открыть общую подачу">
              {{ delivery.wagon }}
            </a>
          </td>
          <td width="150">{{ delivery.owner }}</td>
          <td width="50" style="padding-top: 10px; padding-bottom: 0px" align="center">
            <input class="form-check" disabled type="checkbox" [checked]="delivery.loadUnloadWork">
          </td>
          <td width="120">
            <a *ngIf="delivery.memoOfDelivery; else justStartDate" title="Открыть памятку подачи"
               [routerLink]="['/memo', 'delivery', 'edit', delivery.memoOfDelivery]">
              {{ delivery["startDate"] | date : 'dd.MM.yy HH:mm' }}
            </a>
            <ng-template #justStartDate>
              {{ delivery["startDate"] | date : 'dd.MM.yy HH:mm' }}
            </ng-template>
          </td>
          <td width="80">{{ delivery.calculation.totalTime }}</td>
          <td width="80">{{ delivery.calculation.payTime }}</td>
          <td width="80">{{ delivery.calculation.penaltyTime }}</td>
          <td width="80">{{ delivery.calculation.shuntingWorkTime }}</td>
          <td width="80">{{ statementRate.deliveryDispatchTariff.tariff }}</td>
        </tr>
        <tr *ngIf="delivery.calculation; else loading">
          <!--        <td width="100">-->
          <!--          <a [routerLink]="['/delivery', 'edit', delivery.deliveryId]">{{ delivery.deliveryId }}</a></td>-->
          <!--  <a [routerLink]="['/delivery', 'edit', delivery.deliveryId]">-->
          <td width="120">{{ delivery.wagonType }}</td>
          <td width="150">{{ delivery.cargoType }}</td>
          <td width="50">{{ delivery.cargoWeight }}</td>
          <td width="120">
            <a *ngIf="delivery.memoOfDispatch; else justEndDate" title="Открыть памятку уборки"
               [routerLink]="['/memo', 'dispatch', 'edit', delivery.memoOfDispatch]">
              {{ delivery["endDate"] | date : 'dd.MM.yy HH:mm' }}
            </a>
            <ng-template #justEndDate>
              {{ delivery["endDate"] | date : 'dd.MM.yy HH:mm' }}
            </ng-template>
          </td>
          <td width="80">{{ delivery.calculation.calculationTime }}</td>
          <td width="80">{{ delivery.calculation.paySum }}</td>
          <td width="80">{{ delivery.calculation.penaltySum }}</td>
          <td width="80">{{ delivery.calculation.shuntingWorkSum }}</td>
          <td width="80">{{ delivery.calculation.totalSum }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<!--Template loading-->
<ng-template #loading>
  <p class="text-center">Загрузка...</p>
</ng-template>

<!-- Modal remove all deliveries -->
<div class="modal fade" id="removeAllMemosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeAllDeliveriesModalLabel">Отсоединение</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Убрать все памятки из ведомости?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
        <button type="button" class="btn btn-primary btn-ok" data-dismiss="modal"
                (click)="removeAllMemoFromStatement()">Убрать
        </button>
      </div>
    </div>
  </div>
</div>

