@import "~@fortawesome/fontawesome-free/css/all.css";

.ms-no_arrows {
  -moz-appearance: textfield;
}
.ms-no_arrows::-webkit-inner-spin-button {
  display: none;
}

.form-control:invalid {
  border: 1px solid red;
}

.custom-select:required {
  border: 1px solid red;
}

//.form-control:valid {
//  border: 2px solid green;
//}
