<nav class="navbar navbar-expand-md navbar-light bg-light row">
    <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li>
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-primary btn-sm" type="button" (click)="addDeliveryById()"
                                [disabled]="!deliveryIdToAdd || !enableForm">Добавить по номеру
                        </button>
                    </div>
                    <input type="number" list=deliveryList class="input-text text" [(ngModel)]="deliveryIdToAdd"
                           style="width: 100px" (keydown.escape)="deliveryIdToAdd = null" (keydown.enter)="addDeliveryById()">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary btn-sm mr-2" type="button" (click)="deliveryIdToAdd = null">
                            &times;
                        </button>
                    </div>
                    <datalist id=deliveryList *ngIf="suitableDeliveries">
                        <option *ngFor="let delivery of suitableDeliveries" value="{{delivery.deliveryId}}"
                                label="{{delivery.wagon}}"></option>
                    </datalist>
                </div>
                <div class="invalid-feedback">
                    Example invalid input group feedback
                </div>
            </li>
            <li>
                <input type="button" value="Добавить все подходящие" class="btn btn-outline-primary btn-sm mr-2"
                       [disabled]="!enableForm" (click)="addAllSuitableDeliveries()">
            </li>
            <li>
                <input type="button" value="Убрать все вагоны" class="btn btn-outline-primary btn-sm mr-2"
                       [disabled]="!enableForm" data-toggle="modal" data-target="#removeAllDeliveriesModal">
            </li>
        </ul>
    </div>
</nav>

<table class="table table-sm table-bordered border-0" style="text-align: center">
    <thead class="thead-light">
    <tr class="row">
        <th width="50">
            <button class="fas fa-plus btn btn-sm btn-outline-primary" title="Добавить"
                    (click)="addDelivery()" [disabled]="!enableForm"></button>
        </th>
        <!--      <th width="100">И</th>-->
        <th width="120">№ вагона</th>
        <th width="170">Тип вагона</th>
        <th width="170">Вид груза</th>
        <th width="170">Собственник</th>
        <th width="80">Вес</th>
        <th width="50" *ngIf="memoOfDelivery && memoOfDelivery.cargoOperation==='ВЫГРУЗКА'">ПРР</th>
        <!--      <th width="150">Дата окончания</th>-->
        <th class="col-md col-sm col fas fa-cog" style="padding-top: 10px; padding-bottom: 0px"></th>
    </tr>
    </thead>
    <tbody *ngIf="memoOfDelivery && memoOfDelivery.deliveryOfWagonList.length; else loading"
           (keydown.escape)="cancel()" (keydown.enter)="saveDelivery()">
    <tr class="row my-0 p-0" *ngFor="let delivery of memoOfDelivery.deliveryOfWagonList; let idx = index">
        <ng-template [ngTemplateOutlet]="loadTemplate(delivery)"
                     [ngTemplateOutletContext]="{ $implicit: delivery, idx: idx}">
        </ng-template>

    </tr>
    </tbody>
</table>

<!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-delivery let-idx="idx">
    <td width="50">{{ idx + 1 }}</td>
    <td width="120"><a [routerLink]="['/delivery', 'edit', delivery.deliveryId]"
                       title="Открыть общую подачу">{{ delivery.wagon }}</a></td>
    <td width="170">{{ delivery.wagonType }}</td>
    <td width="170">{{ delivery.cargoType }}</td>
    <td width="170">{{ delivery.owner }}</td>
    <td width="80" type="button" (click)="enableForm ? editDelivery(delivery, 'weight') : null">
        {{ delivery.cargoWeight | number:'0.2'}}
    </td>
    <td width="50" *ngIf="memoOfDelivery && memoOfDelivery.cargoOperation==='ВЫГРУЗКА'">
        <i class="fas fa-check" [hidden]="!delivery.loadUnloadWork"></i>
    </td>
    <!--  <td width="50" style="padding-left: 18px; padding-top: 12px; padding-bottom: 0px"-->
    <!--      *ngIf="memoOfDelivery && memoOfDelivery.cargoOperation==='ВЫГРУЗКА'">-->
    <!--    <input class="form-check" disabled type="checkbox" [checked]="delivery.loadUnloadWork">-->
    <!--  </td>-->
    <!--  <td width="150">-->
    <!--    <a *ngIf="delivery.memoOfDispatch && delivery.memoOfDispatch.memoOfDispatchId; else justDate"-->
    <!--      [routerLink]="['/memo', 'dispatch', 'edit', delivery.memoOfDispatch.memoOfDispatchId]">-->
    <!--      {{ delivery.endDate | date : 'dd.MM.yyyy HH:mm' }}-->
    <!--    </a>-->
    <!--    <ng-template #justDate>-->
    <!--      {{ delivery.endDate | date : 'dd.MM.yyyy HH:mm' }}-->
    <!--    </ng-template>-->
    <!--  </td>-->
    <td class="col-md col-sm col">
        <button type="button" class="far fa-edit btn btn-outline-primary btn-sm mr-1 mt-1"
                [disabled]="!enableForm" title="Редактировать" (click)="editDelivery(delivery)"></button>
<!--        <button type="button" class="fas fa-unlink btn btn-outline-warning btn-sm mr-1 mt-1" title="Открепить"-->
<!--                [disabled]="!enableForm" (click)="removeMemoFromDelivery(delivery.deliveryId)"></button>-->
        <!-- Button trigger modal -->
        <button type="button" class="fas fa-unlink btn btn-outline-warning btn-sm mt-1" data-toggle="modal"
                data-target="#removeModal" title="Открепить"
                [disabled]="!enableForm" (click)="setDelete(delivery.deliveryId)"></button>
        <!-- Button trigger modal -->
        <button type="button" class="far fa-trash-alt btn btn-outline-danger btn-sm mt-1" data-toggle="modal"
                data-target="#deleteModal" title="Удалить"
                [disabled]="!enableForm" (click)="setDelete(delivery.deliveryId)"></button>
    </td>
</ng-template>

<!--шаблон для редактирования-->
<ng-template #editTemplate let-delivery let-idx="idx">
    <td width="50">{{ idx + 1 }}</td>
    <!--  <td width="100">{{ delivery.deliveryId }}</td>-->
    <td width="120">
        <input type="text" [(ngModel)]="editedDelivery.wagon"
               class="form-control form-control-sm ms-valid_input" [appMyAutofocus]
               #wagonNumber="ngModel" required (keyup)="autocomplete()" pattern="\d{8}" maxlength="8">
    </td>
    <td width="170">
        <select class="custom-select-sm form-control ms-valid_input" [(ngModel)]="editedDelivery.wagonType"
                #wagonType="ngModel" required>
            <option *ngFor="let wagonType of wagonTypeList | async"
                    value="{{ wagonType.typeName }}">{{ wagonType.typeName }}</option>
        </select>
    </td>
    <td width="170">
        <select class="custom-select-sm form-control ms-valid_input" [(ngModel)]="editedDelivery.cargoType"
                #cargoType="ngModel" required>
            <option *ngFor="let cargoType of cargoTypeList | async"
                    value="{{ cargoType.typeName }}">{{ cargoType.typeName }}</option>
        </select>
        <!--    <input type="text" class="form-control form-control-sm" id="cargoType"-->
        <!--           [(ngModel)]="editedDelivery.cargoType" #cargoType="ngModel" required-->
        <!--           list=cargoTypeList autocomplete="off">-->
        <!--    <datalist id=cargoTypeList>-->
        <!--      <option *ngFor="let cargoType of cargoTypeList">{{ cargoType.typeName }}</option>-->
        <!--    </datalist>-->
    </td>
    <td width="170">
        <select class="custom-select-sm form-control ms-valid_input" [(ngModel)]="editedDelivery.owner"
                #owner="ngModel" required>
            <option value="{{owner.ownerName}}" *ngFor="let owner of ownersList | async">{{ owner.ownerName }}</option>
        </select>
    </td>
    <td width="80">
<!--        <input *ngIf="!weightFocus" type="number" step="any" [(ngModel)]="editedDelivery.cargoWeight" class="form-control form-control-sm"-->
<!--               #cargoWeight="ngModel" (keyup)="checkWeight()">-->
        <input type="number" step="any" [(ngModel)]="editedDelivery.cargoWeight" class="form-control form-control-sm"
               #cargoWeight="ngModel" (keyup)="checkWeight()" (keydown.+)="saveDelivery('weight')" [appMyAutofocus]="weightFocus">
        <!--           [ngClass]="{'is-invalid': cargoWeight.touched && cargoWeight.invalid}"-->
    </td>
    <td width="50" style="padding-left: 8px; padding-top: 8px; padding-bottom: 0px"
        *ngIf="memoOfDelivery && memoOfDelivery.cargoOperation==='ВЫГРУЗКА'">
        <input type="checkbox" [(ngModel)]="editedDelivery.loadUnloadWork" #loadUnloadWork="ngModel">
    </td>
    <!--  <td width="150">{{ delivery.endDate | date : 'dd.MM.yyyy HH:mm' }}</td>-->
    <!--  <td width="180">-->
    <!--    <input type="datetime-local" [ngModel]="editedDelivery.endDate | date: 'yyyy-MM-ddTHH:mm'"-->
    <!--           (ngModelChange)="editedDelivery.endDate = $event" class="form-control"-->
    <!--           #endDate="ngModel" required [ngClass]="{'is-invalid': endDate.touched && endDate.invalid,-->
    <!--                                                    'is-valid': endDate.touched && endDate.valid}">-->
    <!--    <div class="invalid-feedback">-->
    <!--      Введите правильную дату-->
    <!--    </div>-->
    <!--  </td>-->
    <td class="col-md col-sm col">
        <button (click)="saveDelivery()" class="fas fa-check btn btn-outline-success btn-sm mr-1 mt-1" title="Сохранить"
                [disabled]="wagonNumber.invalid || wagonType.invalid || owner.invalid ||cargoType.invalid"></button>
        <button value="Отмена" (click)="cancel()"
                class="fas fa-undo-alt btn btn-outline-warning btn-sm mt-1" title="Отменить"></button>
    </td>
</ng-template>

<!--Template loading-->
<ng-template #loading>
    <p class="text-center">Загрузка...</p>
</ng-template>

<!-- Remove Modal -->
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeModalLabel">Открепление</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Открепить общую подачу номер {{ deliveryIdToDelete }} ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="unsetDelete()">Отменить
                </button>
                <button type="button" class="btn btn-primary btn-ok" data-dismiss="modal" (click)="removeMemoFromDelivery(deliveryIdToDelete)">Да
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Удаление</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Удалить общую подачу номер {{ deliveryIdToDelete }} ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="unsetDelete()">Отменить
                </button>
                <button type="button" class="btn btn-primary btn-ok" data-dismiss="modal" (click)="delete()">Удалить
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal remove all deliveries -->
<div class="modal fade" id="removeAllDeliveriesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeAllDeliveriesModalLabel">Отсоединение</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Убрать все вагоны из памятки?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                <button type="button" class="btn btn-primary btn-ok" data-dismiss="modal"
                        (click)="removeAllDeliveryOfWagonFromMemo()">Убрать
                </button>
            </div>
        </div>
    </div>
</div>

